*{
    margin: 0;
}

.loaderBox{
    position: absolute;
    margin-top: 200px;
    margin-left: 5%;
    border: 2px solid black;
    width: 90%;
    height: 120px;
    box-shadow: 4px 4px black;
}

.loaderText{
    color: black;
    font-size: 45px;
    letter-spacing: 10px;
    font-weight: 300;
    font-family:'Times New Roman', Times, serif;
}
.loaderBar{
    position: relative;
    height: 10%;
    width: 80%;
    margin-top: 10px;
    margin-left: 10%;
    border: 1px solid black;
}

.loading{
    height: 100%;
    background-color: royalblue;
}


.complete{
    color: royalblue;
    font-size: 80px;
}

/*Made by BlacKoder*/